.header{
    background-color: black;
}
.header__inner{
    margin: 0 auto;
    padding: 15px 60px;
    max-width: 1230px;
}
.header-logo{
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}
