.confirm__content{
    margin: 0 auto;
    max-width: 1230px;
}
.confirm__heading{
    text-align: center;
    margin: 30px 0;
}

.confirm-form{
    margin: 0 auto;
    width: 70%;

}
.confirm-table{

    border: 1px solid #ddd;
}
.confirm-table__inner{
    width: 100%;
}
.confirm-table__row{
    border-bottom: 1px solid #ddd;
}
.confirm-table__row:last-child{
    border-bottom-width: 0;
}
.confirm-table__header{
    background-color: #eee;
    width: 20%;
    /* border-bottom: 1px solid #ddd; */
    font-weight: bold;
}
.confirm-table__text input{
    width: 100%;
    outline: none;
    border: none;
}

.confirm-form__button{
    margin-top: 30px;
    text-align: center;
}
.confirm-form__button-submit{
    margin: 0 auto;
    padding: 10px 60px;
    background-color: black;
    color: white;
    cursor: pointer;
}
