.contact-form__content{

    margin: 0 auto;
    max-width: 1230px;
}
.contact-form__heading{
    text-align: center;
    margin: 30px 0;
}
.contact-form{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
.form__group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.form__label--required{
    color: #aaa;
    background-color: #fafafa;
    margin-left: 5px;
    padding: 3px 5px;
    border-radius: 3px;

}

.form__group-content{
    width: 70%;
    text-align: left;


}
.form__input--text input,
.form__input--textarea textarea {
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
    padding: 10px;
}
.form__input--text input{
    height: 40px;
}
.form__input--textarea textarea{
    height: 180px;
}

.form__error{
    height: 30px;
    color: #ff0000;
    text-align: left;
}
.form__button{
    margin-top: 30px;
    /* text-align: center; */
}
.form__button-submit{
    margin: 0 auto;
    padding: 10px 60px;
    background-color: black;
    color: white;
    cursor: pointer;

}
